[gcode_macro CASE_ON]
description: Turn case strip on using optional preset
gcode:
  {% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip='case',
                             state=True,
                             preset=preset)}

[gcode_macro CASE_OFF]
description: Turn case strip off
gcode:
  {action_call_remote_method("set_wled_state",
                             strip='case',
                             state=False)}

#[delayed_gcode _AUTO_CASE_ON]
#initial_duration: 2.
#gcode:
#  CASE_ON PRESET=1

[gcode_macro WLED_CONTROL]
description: Control effect values and brightness
gcode:
  {% set strip = params.STRIPstring %}
  {% set brightness = params.BRIGHTNESS|default(-1)|int %}
  {% set intensity = params.INTENSITY|default(-1)|int %}
  {% set speed = params.SPEED|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             brightness=brightness,
                             intensity=intensity,
                             speed=speed)}

[gcode_macro WLED_SET]
description: WLED_SET like functionality for WLED, applies to all active segments
gcode:
    {% set strip = params.STRIP|default('case')|string %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set index = params.INDEX|default(-1)|int %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    {action_call_remote_method("set_wled",
                               strip=strip,
                               red=red, green=green, blue=blue, white=white,
                               index=index, transmit=transmit)}



# [gcode_macro _CASELIGHT_ON]
# description: Helper: Light on
# gcode:
#   SET_LED LED=neo_case RED=1 GREEN=0.95 BLUE=0.89 TRANSMIT=1 SYNC=0
#   {action_respond_info("Caselight on")}
#   SAVE_VARIABLE VARIABLE=caselight VALUE='"on"'

# [gcode_macro _CASELIGHT_OFF]
# description: Helper: Light off
# gcode:
#   SET_LED LED=neo_case RED=0 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0
#   {action_respond_info("Caselight off")}
#   SAVE_VARIABLE VARIABLE=caselight VALUE='"off"'

# [gcode_macro CASELIGHT]
# description: Toggle light
# gcode:
#   {%if printer.save_variables.variables.caselight == 'off' %}
#     _CASELIGHT_ON
#   {% else %}
#     _CASELIGHT_OFF
#   {% endif %}

# [gcode_macro CASELIGHT_RED]
# description: Case Red
# gcode:
#   SET_LED LED=neo_case RED=1 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0
#   SAVE_VARIABLE VARIABLE=caselight VALUE='"on"'

# [gcode_macro CASELIGHT_DIM]
# description: Case Red
# gcode:
#   SET_LED LED=neo_case RED=0.3 GREEN=0.3 BLUE=0.3 TRANSMIT=1 SYNC=0
#   SAVE_VARIABLE VARIABLE=caselight VALUE='"on"'

