[printer]
kinematics: corexy
max_velocity: 350  
max_accel: 8000	            
max_accel_to_decel: 8000
max_z_velocity: 100         # 15 (safe), 25 (dfheroin), 50 (max), 100 (nero), 500 (joshmurrah)
max_z_accel: 1000           # 800 (max), 4000 (joshmurrah)
square_corner_velocity: 5.0

#max_accel: 10000
#max_accel_to_decel: 10000