[gcode_macro PRINT_START]
gcode:
    {% set TEMP_BED = params.BED|default(60)|float %}
    {% set TEMP_EXTRUDER = params.EXTRUDER|default(190)|float %}
    {% set TEMP_CHAMBER = params.CHAMBER|default(0)|int %}

    ; For PLA
    {% if TEMP_BED > 60 %}
		nevermore_start
    {% else %}
        SET_PRESSURE_ADVANCE ADVANCE=0.035
	{% endif %}


    M117 Heating bed
    M190 S{TEMP_BED} ; set bed temp

    ;M117 Waiting for chamber
    ;TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MINIMUM={TEMP_CHAMBER}

    ; preheat nozzle
    M117 Preheating nozzle
    M109 S180

    M104 S{TEMP_EXTRUDER} ; start heating extruder to target temp

    G32 ; Home XYZ and do QGL

    M117 Heating nozzle
    M109 S{TEMP_EXTRUDER} ; wait for extruder temp

    CLEAN_NOZZLE

    CALIBRATE_Z

    ; For PLA
    {% if TEMP_BED > 60 %}
        SET_GCODE_OFFSET Z_ADJUST=-0.05 MOVE=1
	{% endif %}

    PRIME_LINE

    M117 Printing...
